<%= "<% form_for([#{model.rails_backvar_tuple.join(',')}]) do |f| %" + ">" %>
<%= "<%= f.error_messages %" + ">" %>
<% model.fields.each do |k, v| %>
  <p>
    <%= "    <%= f.label :#{k} %" + "><br />" %>
    <%= model.rails_field_string(k, v) %>
  </p>
<% end %>

  <p>
    <%= "<%= f.submit 'Submit' %" + ">" %>
  </p>
<%= "<% end %" + ">" %>
