<%= "<% form_for([#{model.rails_ivar_tuple.join(",")}]) do |f| %" + ">" %>
<%= "<%= f.error_messages %" + ">" %>
<% model.fields.each do |k, v| %>
  <p>
    <%= "    <%= f.label :#{k} %" + "><br />" %>
    <%= "    <%= f.text_field :#{k} %" + ">" %>
  </p>
<% end %>

  <p>
    <%= "<%= f.submit 'Submit' %" + ">" %>
  </p>
<%= "<% end %" + ">" %>
