<%= "<% form_for([#{goal.backvar_tuple.join(',')}]) do |f| %%>" %>
<%= "<%= f.error_messages %%>" %>
<% goal.fields.each do |k, v| %>
  <div>
    <%= "    <%= f.label :#{k} %%>" %>
    <%= generator.field_string(k, v) %>
  </div>
<% end %>

<% keys_in_path = goal.resource_tuple.map {|x| generator.app.fetch_or_create_goal(x).s + "_id" } %>
<% goal.foreign_keys.reject {|x, v| keys_in_path.member?(x) }.each do |key, value| %>
  <div>
    <%= "    <%= f.label :#{key[0..-4]} %%>" %>
    <%= generator.field_string(key, "foreign_key") %>
  </div>
<% end %>

  <div>
    <%= "<%= f.submit 'Submit' %%>" %>
  </div>
<%= "<% end %%>" %>
