<h1>Listing #{p}</h1>

<table>
  <tr>" + model.fields.map { |k, v| "<th>#{k.capitalize}</th>"}.join("\n")
  </tr>

<% for #{s} in @#{p} %>
  <tr>" + model.fields.map { |k, v| "<td><%=h #{s}.#{k} %></td>"}.join("\n") 
    <td><%= link_to 'Show', #{s} %></td>
    <td><%= link_to 'Edit', edit_#{s}_path(#{s}) %></td>
    <td><%= link_to 'Destroy', #{s}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New #{s}', new_#{s}_path %>
