<h1>Listing <%= model.p %></h1>


<%=  "<%= render :partial => '#{model.p}/#{model.s}', :collection => @#{model.p} %" + ">" %>

create a new <%= model.s %>
<%=  "<%= render :partial => '#{model.p}/form', :object => @#{model.s} %" + ">" %>
