<h1>Listing <%= model.p %></h1>

<table>
  <tr><%= model.fields.map { |k, v| "<th>#{k.capitalize}</th>"}.join("\n") %>
  </tr>

<%= "<% for #{model.s} in @#{model.p} %" + ">" %>
  <tr> <%= model.fields.map { |k, v| "<td> <%=h #{model.s}.#{k} %" + "></td>"}.join("\n")  %>
    <td><%= "<%= link_to 'Show', #{model.rails_object_path('')} %" +">" %></td>
    <td><%= "<%= link_to 'Edit', #{model.rails_edit_path('')} %" + ">" %></td>
    <td><%= "<%= link_to 'Destroy', #{model.rails_object_path('')}, :confirm => 'Are you sure?', :method => :delete %" + ">" %></td>
  </tr>
<%= "<% end %" + ">" %>
</table>

<br />
create a new <%= model.s %>
<%=  "<%= render :partial => '#{model.p}/form', :object => @#{model.s} %" + ">" %>

<%= "<%= link_to 'New #{model.s}', #{model.rails_new_path} %" + ">" %>
